# Initialization 
## Libraries & Files

In [31]:
import pandas as pd
import numpy as np
import importlib
percents = pd.read_csv('countries_perGDP_80_2012_2020.csv')
millions = pd.read_csv('countries_millions_80_2012_2020.csv')

## Preparation

### Cleaning

In [32]:
# ! You must import & reload the functions when you apply changes on them.
import clean
importlib.reload(clean)
from clean import cleaning

In [33]:
df_percs = cleaning(percents)
df_money = cleaning(millions)

## Part 1

#### Task 1
- Max Percentage spending per year
- Max Percentage in a category per year
- Max spending in millions per year
- Max spending in millions in a category per

In [40]:
import functions
importlib.reload(functions)
from functions import find_max,max_by_category

## Percentage %

### Max Percentage spending per year

In [41]:
find_max(df_percs)

   Country  Year  Value
0  Denmark  2012   58.0
1   Greece  2013   62.8
2  Finland  2014   57.3
3   France  2015   56.8
4   France  2016   56.7
5   France  2017   56.5
6   France  2018   55.6
7   France  2019   55.4
8   France  2020   61.6

### Max Percentage spending by category per year

In [36]:
max_by_category(df_percs)

         Country           Category  Year  Value
0        Belgium  Social protection  2012   19.6
1       Bulgaria  Social protection  2012   12.3
2        Czechia  Social protection  2012   13.7
3        Denmark  Social protection  2012   24.6
4        Germany  Social protection  2012   18.9
..           ...                ...   ...    ...
265      Finland  Social protection  2020   25.7
266       Sweden  Social protection  2020   19.6
267      Iceland  Social protection  2020   13.8
268       Norway  Social protection  2020   22.3
269  Switzerland  Social protection  2020   16.0

[270 rows x 4 columns]

## Millions €

### Max spending in millions

In [42]:
find_max(df_money)

   Country  Year      Value
0  Germany  2012  1233138.0
1  Germany  2013  1263544.0
2  Germany  2014  1296940.0
3  Germany  2015  1335789.0
4  Germany  2016  1390374.0
5  Germany  2017  1443273.0
6  Germany  2018  1492813.0
7  Germany  2019  1562698.0
8  Germany  2020  1712131.0

### Max spending by category in percentage

In [43]:
max_by_category(df_money)

         Country           Category  Year     Value
0        Belgium  Social protection  2012   75606.4
1       Bulgaria  Social protection  2012    5196.7
2        Czechia  Social protection  2012   22268.0
3        Denmark  Social protection  2012   62576.4
4        Germany  Social protection  2012  518918.0
..           ...                ...   ...       ...
265      Finland  Social protection  2020   60594.0
266       Sweden  Social protection  2020   94395.4
267      Iceland  Social protection  2020    2634.9
268       Norway  Social protection  2020   70978.8
269  Switzerland  Social protection  2020  105519.5

[270 rows x 4 columns]

## Task 2

## Task 3