# Initialization

## Libraries & Files

In [27]:
import pandas as pd
import numpy as np
import importlib
# percents = pd.read_csv('countries_perGDP_80_2012_2020.csv')
# millions = pd.read_csv('countries_millions_80_2012_2020.csv')
millions = pd.read_csv('MIL_coun31_12-20_cat80.csv')
percents = pd.read_csv('GDP_coun31_12-20_cat80.csv')

# Preparation

### Cleaning

In [28]:
# ! You must import & reload the functions when you apply changes on them.
import clean
importlib.reload(clean)
from clean import cleaning

In [29]:
df_percs = cleaning(percents)
df_money = cleaning(millions)

# Transformation

## Task 1
- Max Percentage spending per year
- Max Percentage in a category per year
- Max spending in millions per year
- Max spending in millions in a category per

### How to use find_max() with arguments
#### Example in dataset with %
**Max by category Total**
```py
find_max(df_percs) # Default is TOTAL
```
**Max in all categories**
```py
find_max(df_percs,Category="all")
```

**Max by category you choose**
```py
find_max(df_percs,Category="GF07")
```
#### Millions € dataset 
Just change the dataset you want. The same args apply, too.

In [30]:
import functions
importlib.reload(functions)
from functions import find_max

### Percentage %

**Max Percentage spending per year**

In [31]:
find_max(df_percs)

   Country  Year Category  Value
0  Denmark  2012    Total   58.0
1   Greece  2013    Total   62.8
2  Finland  2014    Total   57.3
3   France  2015    Total   56.8
4   France  2016    Total   56.7
5   France  2017    Total   56.5
6   France  2018    Total   55.6
7   France  2019    Total   55.4
8   France  2020    Total   61.6

**Max Percentage spending by category per year**

In [32]:
find_max(df_percs,Category="all")

   Country  Year           Category  Value
0  Denmark  2012  Social protection   24.6
1  Finland  2013  Social protection   24.6
2  Finland  2014  Social protection   25.2
3  Finland  2015  Social protection   25.3
4  Finland  2016  Social protection   25.5
5  Finland  2017  Social protection   24.5
6  Finland  2018  Social protection   24.3
7  Finland  2019  Social protection   24.1
8   France  2020  Social protection   27.3

### Millions €

**Max spending in millions**

In [33]:
find_max(df_money)

   Country  Year Category      Value
0  Germany  2012    Total  1233138.0
1  Germany  2013    Total  1263544.0
2  Germany  2014    Total  1296940.0
3  Germany  2015    Total  1335789.0
4  Germany  2016    Total  1390374.0
5  Germany  2017    Total  1443273.0
6  Germany  2018    Total  1492813.0
7  Germany  2019    Total  1562698.0
8  Germany  2020    Total  1712131.0

**Max spending by category in millions**

In [34]:
find_max(df_money,Category="all")

   Country  Year           Category     Value
0  Germany  2012  Social protection  518918.0
1  Germany  2013  Social protection  533910.0
2  Germany  2014  Social protection  550151.0
3  Germany  2015  Social protection  577822.0
4  Germany  2016  Social protection  611468.0
5  Germany  2017  Social protection  634997.0
6  Germany  2018  Social protection  648812.0
7  Germany  2019  Social protection  681481.0
8  Germany  2020  Social protection  734813.0

In [35]:
find_max(df_money,Category="GF01")

   Country  Year                 Category     Value
0  Germany  2012  General public services  184853.0
1  Germany  2013  General public services  183524.0
2  Germany  2014  General public services  184629.0
3  Germany  2015  General public services  179800.0
4  Germany  2016  General public services  181192.0
5  Germany  2017  General public services  187439.0
6  Germany  2018  General public services  191667.0
7  Germany  2019  General public services  200525.0
8  Germany  2020  General public services  205288.0

## Task 2

In [52]:
import clean
importlib.reload(clean)
from clean import cleaning
GDPoutput = pd.read_csv('GPD_output.csv')
GDPoutput
cleanOutput = cleaning(GDPoutput)
cleanOutput

    Country  Year     Value
0        AT  2012  318653.0
1        AT  2013  323910.2
2        AT  2014  333146.1
3        AT  2015  344269.2
4        AT  2016  357608.0
..      ...   ...       ...
265      SK  2016   81265.2
266      SK  2017   84669.9
267      SK  2018   89874.7
268      SK  2019   94437.5
269      SK  2020   93413.8

[270 rows x 3 columns]

In [54]:
df_percs.min()

Country      AT
Year       2012
Value       0.0
dtype: object

In [21]:
# cleanOutput = cleaning(GDPoutput)
# cleanOutput.min()

Country        AT
Year         2012
Value      7364.5
dtype: object

In [43]:
# np.min(df_percs.Value)
np.argmin(df_percs.Value)

1765

In [42]:
# df_percs.idxmin()
# type(df_percs)
df_percs.dtypes

Category     object
Country      object
Year          int64
Value       float64
dtype: object

In [29]:
# df_percs.min()
df_percs.head(20)

   Category Country  Year  Value
0      GF01      AT  2012    7.3
1      GF01      AT  2013    7.2
2      GF01      AT  2014    6.8
3      GF01      AT  2015    6.8
4      GF01      AT  2016    6.5
5      GF01      AT  2017    6.0
6      GF01      AT  2018    5.9
7      GF01      AT  2019    5.8
8      GF01      AT  2020    6.1
9      GF01      BE  2012    8.8
10     GF01      BE  2013    8.6
11     GF01      BE  2014    8.4
12     GF01      BE  2015    8.0
13     GF01      BE  2016    7.9
14     GF01      BE  2017    7.2
15     GF01      BE  2018    7.1
16     GF01      BE  2019    6.9
17     GF01      BE  2020    7.4
18     GF01      BG  2012    3.4
19     GF01      BG  2013    3.7

# Presentation

## Task 3