# Initialization

## Libraries & Files

In [36]:
import pandas as pd
import numpy as np
import importlib
percents = pd.read_csv('countries_perGDP_80_2012_2020.csv')
millions = pd.read_csv('countries_millions_80_2012_2020.csv')

# Preparation

### Cleaning

In [37]:
# ! You must import & reload the functions when you apply changes on them.
import clean
importlib.reload(clean)
from clean import cleaning

In [38]:
df_percs = cleaning(percents)
df_money = cleaning(millions)

# Transformation

## Task 1
- Max Percentage spending per year
- Max Percentage in a category per year
- Max spending in millions per year
- Max spending in millions in a category per

### How to use find_max() with arguments
#### Example in dataset with %
**Max by category Total**
```py
find_max(df_percs) # Default is TOTAL
```
**Max in all categories**
```py
find_max(df_percs,Category="all")
```

**Max by category you choose**
```py
find_max(df_percs,Category="GF07")
```
#### Millions â‚¬ dataset 
Just change the dataset you want. The same args apply, too.

In [39]:
import functions
importlib.reload(functions)
from functions import find_max,max_by_category

### Percentage %

**Max Percentage spending per year**

In [40]:
find_max(df_percs)

   Country  Year Category  Value
0  Denmark  2012    Total   58.0
1   Greece  2013    Total   62.8
2  Finland  2014    Total   57.3
3   France  2015    Total   56.8
4   France  2016    Total   56.7
5   France  2017    Total   56.5
6   France  2018    Total   55.6
7   France  2019    Total   55.4
8   France  2020    Total   61.6

**Max Percentage spending by category per year**

In [41]:
find_max(df_percs,Category="all")

   Country  Year           Category  Value
0  Denmark  2012  Social protection   24.6
1  Finland  2013  Social protection   24.6
2  Finland  2014  Social protection   25.2
3  Finland  2015  Social protection   25.3
4  Finland  2016  Social protection   25.5
5  Finland  2017  Social protection   24.5
6  Finland  2018  Social protection   24.3
7  Finland  2019  Social protection   24.1
8   France  2020  Social protection   27.3

### Millions â‚¬

**Max spending in millions**

In [42]:
find_max(df_money)

   Country  Year Category      Value
0  Germany  2012    Total  1233138.0
1  Germany  2013    Total  1263544.0
2  Germany  2014    Total  1296940.0
3  Germany  2015    Total  1335789.0
4  Germany  2016    Total  1390374.0
5  Germany  2017    Total  1443273.0
6  Germany  2018    Total  1492813.0
7  Germany  2019    Total  1562698.0
8  Germany  2020    Total  1712131.0

**Max spending by category in millions**

In [43]:
find_max(df_money,Category="all")

   Country  Year           Category     Value
0  Germany  2012  Social protection  518918.0
1  Germany  2013  Social protection  533910.0
2  Germany  2014  Social protection  550151.0
3  Germany  2015  Social protection  577822.0
4  Germany  2016  Social protection  611468.0
5  Germany  2017  Social protection  634997.0
6  Germany  2018  Social protection  648812.0
7  Germany  2019  Social protection  681481.0
8  Germany  2020  Social protection  734813.0

In [44]:
find_max(df_money,Category="GF01")

   Country  Year                 Category     Value
0  Germany  2012  General public services  184853.0
1  Germany  2013  General public services  183524.0
2  Germany  2014  General public services  184629.0
3  Germany  2015  General public services  179800.0
4  Germany  2016  General public services  181192.0
5  Germany  2017  General public services  187439.0
6  Germany  2018  General public services  191667.0
7  Germany  2019  General public services  200525.0
8  Germany  2020  General public services  205288.0

## Task 2

# Presentation

## Task 3