# Initialization

## Libraries & Files

In [79]:
import pandas as pd
import numpy as np
import importlib
millions = pd.read_csv('MIL_coun31_12-20_cat80.csv')
# millions = pd.read_csv('new.csv')
percents = pd.read_csv('GDP_coun31_12-20_cat80.csv')
TotalGDP = pd.read_csv('mil_GDP_TOTAL_31_12-20.csv')

In [76]:
millions.isna().mean().round(4) *100

DATAFLOW        0.00
LAST UPDATE     0.00
freq            0.00
unit            0.00
sector          0.00
cofog99         0.00
na_item         0.00
geo             0.00
TIME_PERIOD     0.00
OBS_VALUE       0.83
OBS_FLAG       96.32
dtype: float64

In [70]:
millions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21600 entries, 0 to 21599
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     21600 non-null  object
 1   LAST UPDATE  21600 non-null  object
 2   freq         21600 non-null  object
 3   unit         21600 non-null  object
 4   sector       21600 non-null  object
 5   cofog99      21600 non-null  object
 6   na_item      21600 non-null  object
 7   geo          21600 non-null  object
 8   TIME_PERIOD  21600 non-null  int64
 9   OBS_VALUE    21421 non-null  float64
 10  OBS_FLAG     794 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 1.8+ MB

In [ ]:
millions.geo.unique()

In [ ]:
TotalGDP.geo.unique()

# Preparation

### Cleaning

In [80]:
import clean
importlib.reload(clean)
from clean import cleaning,cleaning2,cleaningT,cleaning_task2

In [81]:
df_percs = cleaning_task2(percents)
df_money = cleaning_task2(millions)
df_GDP = cleaningT(TotalGDP)

In [77]:
df_money.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21400 entries, 0 to 21599
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  21400 non-null  object
 1   Country   21400 non-null  object
 2   Year      21400 non-null  int64
 3   Value     21400 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 835.9+ KB

In [71]:
df_percs.shape

(21415, 4)

In [72]:
df_percs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21415 entries, 0 to 21599
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  21415 non-null  object
 1   Country   21415 non-null  object
 2   Year      21415 non-null  int64
 3   Value     21415 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 836.5+ KB

In [82]:
df_money.Country.unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU',
       'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK'],
      dtype=object)

In [83]:
df_GDP.Country.unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU',
       'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK'],
      dtype=object)

In [84]:
df_percs.Country.unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU',
       'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK'],
      dtype=object)

In [137]:
df_money

      Category Country  Year    Value
0         GF01      AT  2012  23137.9
1         GF01      AT  2013  23355.5
2         GF01      AT  2014  22738.7
3         GF01      AT  2015  23388.9
4         GF01      AT  2016  23109.4
...        ...     ...   ...      ...
21595    TOTAL      SK  2016  34574.9
21596    TOTAL      SK  2017  33440.3
21597    TOTAL      SK  2018  35615.0
21598    TOTAL      SK  2019  38240.7
21599    TOTAL      SK  2020  41943.9

[21400 rows x 4 columns]

In [174]:
lefta=df_money.loc[df_money['Country'] == 'EU27_2020']

In [175]:
lefta

      Category    Country  Year      Value
90        GF01  EU27_2020  2012   839755.8
91        GF01  EU27_2020  2013   832682.8
92        GF01  EU27_2020  2014   824599.2
93        GF01  EU27_2020  2015   802225.2
94        GF01  EU27_2020  2016   787943.8
...        ...        ...   ...        ...
21424    TOTAL  EU27_2020  2016  5942695.4
21425    TOTAL  EU27_2020  2017  6106183.5
21426    TOTAL  EU27_2020  2018  6295715.4
21427    TOTAL  EU27_2020  2019  6521467.4
21428    TOTAL  EU27_2020  2020  7114476.2

[720 rows x 4 columns]

In [186]:
import requests as r

req = r.get('https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/NAMA_10_GDP?format=SDMX-CSV')

In [189]:
req.headers

{'Date': 'Sun, 05 Feb 2023 21:33:41 GMT', 'Transfer-Encoding': 'chunked', 'Content-Type': 'application/vnd.sdmx.data+csv;version=1.0.0', 'Content-Disposition': 'attachment; filename="estat_nama_10_gdp_en.csv"', 'Connection': 'close'}

In [ ]:
req.code

In [184]:
((lefta.groupby('Category')['Value'].sum() / lefta.groupby('Category')['Value'].sum().loc['TOTAL'])*100).idxmin()

'GF0108'

In [185]:
((lefta.groupby('Category')['Value'].sum() / lefta.groupby('Category')['Value'].sum().loc['TOTAL'])*100).min()

0.001483969767488646

In [176]:
lefta.groupby('Category')['Value'].sum()

Category
GF01       7322071.3
GF0101     2310167.3
GF0102      315300.3
GF0103     1336369.3
GF0104      724027.2
             ...
GF1006      402035.2
GF1007      933415.9
GF1008        4959.6
GF1009      348800.9
TOTAL     55001120.5
Name: Value, Length: 80, dtype: float64

In [141]:
lf = lefta.groupby('Category')['Value'].sum()

In [148]:
lf

Category
GF01       7322071.3
GF0101     2310167.3
GF0102      315300.3
GF0103     1336369.3
GF0104      724027.2
             ...
GF1006      402035.2
GF1007      933415.9
GF1008        4959.6
GF1009      348800.9
TOTAL     55001120.5
Name: Value, Length: 80, dtype: float64

In [152]:
super_total = lf.loc['TOTAL']

In [170]:
df_percs.loc[df_percs['Country']=='EU27_2020']

      Category    Country  Year  Value
90        GF01  EU27_2020  2012    7.4
91        GF01  EU27_2020  2013    7.2
92        GF01  EU27_2020  2014    7.0
93        GF01  EU27_2020  2015    6.6
94        GF01  EU27_2020  2016    6.3
...        ...        ...   ...    ...
21424    TOTAL  EU27_2020  2016   47.4
21425    TOTAL  EU27_2020  2017   46.7
21426    TOTAL  EU27_2020  2018   46.5
21427    TOTAL  EU27_2020  2019   46.5
21428    TOTAL  EU27_2020  2020   52.9

[720 rows x 4 columns]

In [171]:
actual_prec = []
for i in lf:
    actual_prec.append(((i/super_total)*100).round(4))
    # print((i/super_total)*100)
actual_prec

[13.3126,
 4.2002,
 0.5733,
 2.4297,
 1.3164,
 0.0401,
 0.2494,
 4.5021,
 0.0015,
 2.5194,
 2.2645,
 0.0124,
 0.1194,
 0.053,
 0.0702,
 3.5103,
 1.9076,
 0.4545,
 0.6704,
 0.3316,
 0.0057,
 0.1405,
 9.6921,
 2.3325,
 0.5578,
 0.7039,
 0.2382,
 4.2905,
 0.0773,
 0.4614,
 0.811,
 0.2196,
 1.6578,
 0.7289,
 0.3131,
 0.2554,
 0.1626,
 0.0746,
 0.1231,
 1.2419,
 0.3513,
 0.5002,
 0.1839,
 0.1107,
 0.0125,
 0.0833,
 14.7441,
 2.3893,
 4.7055,
 6.4677,
 0.342,
 0.2694,
 0.5702,
 2.4039,
 0.7771,
 1.0044,
 0.4223,
 0.1164,
 0.0391,
 0.0447,
 9.8824,
 3.277,
 3.7523,
 0.0755,
 1.6348,
 0.2856,
 0.6492,
 0.0555,
 0.1525,
 41.0355,
 5.775,
 21.9068,
 3.2955,
 3.7177,
 3.2693,
 0.731,
 1.6971,
 0.009,
 0.6342,
 100.0]

In [173]:
type(actual_prec)

list

In [172]:
min(actual_prec)

0.0015

In [169]:
df_percs.loc[df_percs['Country'] == 'EU27_2020']

      Category    Country  Year  Value
90        GF01  EU27_2020  2012    7.4
91        GF01  EU27_2020  2013    7.2
92        GF01  EU27_2020  2014    7.0
93        GF01  EU27_2020  2015    6.6
94        GF01  EU27_2020  2016    6.3
...        ...        ...   ...    ...
21424    TOTAL  EU27_2020  2016   47.4
21425    TOTAL  EU27_2020  2017   46.7
21426    TOTAL  EU27_2020  2018   46.5
21427    TOTAL  EU27_2020  2019   46.5
21428    TOTAL  EU27_2020  2020   52.9

[720 rows x 4 columns]

In [ ]:
df_percs.replace

In [136]:
df_money.groupby('Category')['Value'].sum()

Category
GF01       14808349.0
GF0101      4678669.7
GF0102       660534.6
GF0103      2691288.9
GF0104      1465877.0
             ...
GF1006       809282.1
GF1007      1895429.9
GF1008        11187.6
GF1009       712744.7
TOTAL     111669078.0
Name: Value, Length: 80, dtype: float64

In [103]:
kapa =df_percs.loc[df_percs['Country']=='EU27_2020']

In [132]:
kapa =df_money.loc[df_money['Country']=='EU27_2020']

In [133]:
sum_kapa = kapa.groupby('Year')['Value'].sum()

In [134]:
sum_kapa

Year
2012    16986181.5
2013    17133396.0
2014    17315295.9
2015    17626866.0
2016    17828080.6
2017    18318549.3
2018    18887145.0
2019    19564407.4
2020    21343423.3
Name: Value, dtype: float64

In [113]:
df_money.loc[kapa.Value.idxmin()]

Category       GF0105
Country     EU27_2020
Year             2012
Value          2165.7
Name: 1440, dtype: object

In [116]:
index_for_zeros = kapa.loc[kapa['Value']==0.0].index

In [122]:
lefta = []
for index in index_for_zeros:
    lefta.append(df_money.loc[index])


type(lefta[0])

pandas.core.series.Series

In [127]:
lefta_times = []
for entry in lefta:
    lefta_times.append(entry.loc['Value'])
    
lefta_times

[2165.7,
 2468.4,
 2186.6,
 2651.9,
 2555.9,
 2368.9,
 2522.8,
 2578.8,
 2532.8,
 162.6,
 138.4,
 254.9,
 91.3,
 59.0,
 0.0,
 34.1,
 24.1,
 51.8,
 883.1,
 807.7,
 704.3,
 424.7,
 848.4,
 705.0,
 820.4,
 875.6,
 759.9,
 3910.1,
 3119.3,
 2977.9,
 3127.9,
 3064.7,
 3006.8,
 3207.1,
 3320.4,
 3411.0,
 4230.3,
 3508.7,
 3668.0,
 3765.6,
 4558.4,
 4681.9,
 4984.5,
 4978.6,
 4210.0,
 237.8,
 246.5,
 257.6,
 342.2,
 351.1,
 390.9,
 423.8,
 434.2,
 477.2,
 5686.5,
 3934.4,
 4084.3,
 3579.7,
 3662.7,
 4415.0,
 4352.0,
 4773.0,
 4111.5,
 4092.5,
 4312.2,
 4326.2,
 4364.7,
 4457.4,
 4728.5,
 5211.3,
 5407.5,
 618.2,
 611.3,
 597.5,
 662.3,
 777.8,
 827.9,
 954.5,
 876.5,
 941.2,
 4898.3,
 4408.5,
 4367.5,
 4997.4,
 5238.8,
 5131.2,
 5005.6,
 5568.7,
 6191.7,
 1984.6,
 2105.3,
 2154.7,
 2210.1,
 2318.9,
 2426.1,
 2762.7,
 2712.2,
 2837.5,
 2756.1,
 2433.6,
 2505.9,
 2643.8,
 2373.3,
 2634.1,
 2905.5,
 3070.0,
 3274.0,
 4528.2,
 4780.9,
 4502.5,
 4575.2,
 4518.6,
 4612.9,
 4639.1,
 4800.7,
 4594.2,
 2760.1,
 2951.2,
 2926.2,
 3705.3,
 3376.6,
 3363.0,
 3547.4,
 3943.7,
 3971.6,
 493.1,
 474.5,
 481.7,
 523.0,
 557.7,
 664.7,
 604.9,
 576.0,
 584.0]

In [126]:
lefta[0].loc['Value']

2165.7

In [ ]:
kapa.loc[kapa.Value.idxmin()]

Category       GF0105
Country     EU27_2020
Year             2012
Value             0.0
Name: 1440, dtype: object

In [53]:
GDP_Expenditure  = df_money.loc[df_money['Category'] == 'TOTAL'].Value.values # Returns an ndarray
len(GDP_Expenditure)

270

In [54]:
Total = df_GDP.Value.values
len(Total)

270

In [ ]:
Total

In [85]:
true_perc = []
for entry in range(len(GDP_Expenditure)):
    true_perc.append((GDP_Expenditure[entry]  / Total[entry])*100)

In [90]:
GDP_Expenditure

array([1.6319190e+05, 1.6729210e+05, 1.7467160e+05, 1.7603000e+05,
       1.7905900e+05, 1.8209130e+05, 1.8785060e+05, 1.9313660e+05,
       2.1620750e+05, 2.1810220e+05, 2.2047010e+05, 2.2406930e+05,
       2.2385030e+05, 2.2845160e+05, 2.3156100e+05, 2.4031360e+05,
       2.4789860e+05, 2.7040990e+05, 1.4475600e+04, 1.5879200e+04,
       1.8575100e+04, 1.8495300e+04, 1.6952400e+04, 1.8266100e+04,
       2.0770500e+04, 2.1851600e+04, 2.5636000e+04, 8.2054000e+03,
       7.7298000e+03, 8.6112000e+03, 7.2566000e+03, 7.0895000e+03,
       7.3959000e+03, 9.2268000e+03, 8.8310000e+03, 9.7242000e+03,
       7.2636100e+04, 6.8010600e+04, 6.7266700e+04, 7.1102800e+04,
       7.0533600e+04, 7.5673200e+04, 8.5642700e+04, 9.2623100e+04,
       1.0164880e+05, 1.2331380e+06, 1.2635440e+06, 1.2969400e+06,
       1.3357890e+06, 1.3903740e+06, 1.4432730e+06, 1.4928130e+06,
       1.5626980e+06, 1.7121310e+06, 1.4754050e+05, 1.4443110e+05,
       1.4674490e+05, 1.4887000e+05, 1.4857210e+05, 1.4902410e+05,
       1.5282200e+05, 1.5373490e+05, 1.6690400e+05, 7.0315000e+03,
       7.2663000e+03, 7.5711000e+03, 8.1545000e+03, 8.5681000e+03,
       9.3514000e+03, 1.0184300e+04, 1.0936000e+04, 1.2313100e+04,
       1.0684400e+05, 1.1292600e+05, 8.9913000e+04, 9.5336000e+04,
       8.7154000e+04, 8.5871000e+04, 8.7137000e+04, 8.7758000e+04,
       9.8871000e+04, 5.0168800e+05, 4.6764900e+05, 4.6565000e+05,
       4.7296200e+05, 4.7273300e+05, 4.7880400e+05, 5.0177400e+05,
       5.2403700e+05, 5.8827900e+05, 5.6620621e+06, 5.7111325e+06,
       5.7717671e+06, 5.8756209e+06, 5.9426954e+06, 6.1061835e+06,
       6.2957154e+06, 6.5214674e+06, 7.1144762e+06, 1.1145600e+05,
       1.1610200e+05, 1.1850400e+05, 1.1941500e+05, 1.2104400e+05,
       1.2137500e+05, 1.2449100e+05, 1.2780900e+05, 1.3574500e+05,
       1.1928590e+06, 1.2116220e+06, 1.2299590e+06, 1.2486560e+06,
       1.2664350e+06, 1.2980230e+06, 1.3150510e+06, 1.3492800e+06,
       1.4195930e+06, 2.1510000e+04, 2.1406500e+04, 2.1375200e+04,
       2.1801900e+04, 2.2136000e+04, 2.2313700e+04, 2.3955500e+04,
       2.5585900e+04, 2.7367500e+04, 4.9237500e+04, 5.1183100e+04,
       5.3180600e+04, 5.6823800e+04, 5.4404900e+04, 5.9343000e+04,
       6.2791300e+04, 6.6822300e+04, 7.0455800e+04, 7.4615800e+04,
       7.2810000e+04, 7.3241600e+04, 7.6355600e+04, 7.5791200e+04,
       7.7802200e+04, 8.2586600e+04, 8.6285600e+04, 1.0203280e+05,
       5.4796000e+03, 5.5771000e+03, 6.1741000e+03, 6.8668000e+03,
       8.7322000e+03, 9.7335000e+03, 9.7511000e+03, 9.6172000e+03,
       9.6101000e+03, 8.2176400e+05, 8.2172100e+05, 8.2762500e+05,
       8.3292700e+05, 8.3226500e+05, 8.4682100e+05, 8.5730200e+05,
       8.7100300e+05, 9.4448600e+05, 1.2088500e+04, 1.2460100e+04,
       1.2710500e+04, 1.3133000e+04, 1.3315400e+04, 1.4047500e+04,
       1.5472400e+04, 1.6985400e+04, 2.1233800e+04, 1.9453800e+04,
       2.0244700e+04, 2.1030500e+04, 2.1861400e+04, 2.2509600e+04,
       2.4010600e+04, 2.5426600e+04, 2.6886900e+04, 3.0297400e+04,
       8.5763000e+03, 8.7822000e+03, 9.1958000e+03, 9.4938000e+03,
       9.4791000e+03, 1.0438600e+04, 1.1471000e+04, 1.1704400e+04,
       1.2726500e+04, 3.1016000e+03, 3.2403000e+03, 3.5215000e+03,
       3.8482000e+03, 3.8271000e+03, 4.1067000e+03, 4.6287000e+03,
       5.0552000e+03, 6.0018000e+03, 3.0704300e+05, 3.0936800e+05,
       3.0948900e+05, 3.0946500e+05, 3.0916700e+05, 3.1341000e+05,
       3.2723900e+05, 3.4249300e+05, 3.8099100e+05, 1.7173790e+05,
       1.7470430e+05, 1.7387880e+05, 1.7131420e+05, 1.7185050e+05,
       1.7834480e+05, 1.8078730e+05, 1.8648300e+05, 1.8619390e+05,
       1.6738070e+05, 1.6860490e+05, 1.7438130e+05, 1.7939870e+05,
       1.7556450e+05, 1.9291540e+05, 2.0678140e+05, 2.2289590e+05,
       2.5486430e+05, 8.2277800e+04, 8.5112300e+04, 8.9529600e+04,
       8.6707400e+04, 8.3615900e+04, 8.8897400e+04, 8.8722500e+04,
       9.1004200e+04, 9.8725000e+04, 5.0377700e+04, 5.1409800e+04,
       5.3348100e+04, 5.7716500e+04, 5.8618800e+04, 6.2634400e+04,
       7.1058200e+04, 8.0625000e+04, 9.1583400e+04, 2.1929830e+05,
       2.2825710e+05, 2.2249990e+05, 2.2473770e+05, 2.3179010e+05,
       2.3633870e+05, 2.3463610e+05, 2.3431430e+05, 2.5022540e+05,
       1.7892600e+04, 2.1970000e+04, 1.9134100e+04, 1.8925300e+04,
       1.8669700e+04, 1.8955100e+04, 1.9952800e+04, 2.0971600e+04,
       2.4079200e+04, 3.0276400e+04, 3.1640300e+04, 3.3028600e+04,
       3.6508200e+04, 3.4574900e+04, 3.3440300e+04, 3.5615000e+04,
       3.8240700e+04, 4.1943900e+04])

In [89]:
true_perc

[51.21304365563795,
 51.64767889371807,
 52.43093045363582,
 51.13149825775876,
 50.07130712959441,
 49.29888545624223,
 48.75765072191461,
 48.6282556943572,
 56.74104594631832,
 56.477599387013186,
 56.11639686418245,
 55.59986729637202,
 53.7195939346496,
 53.1177419921118,
 52.03032197948052,
 52.23631825007151,
 51.79174544808783,
 58.806966891628434,
 34.25626171409098,
 37.762483888304935,
 43.17180309580254,
 40.37190885417235,
 34.75768405124956,
 34.771840788253854,
 36.94188329705041,
 35.49729119455477,
 41.59061891110971,
 42.08890302327728,
 42.847402759377616,
 49.25526803486856,
 40.43980784877565,
 37.286076428699154,
 36.41076386837596,
 42.56866173627804,
 38.10374435843667,
 44.413082498664075,
 44.675082647805034,
 42.65016947664484,
 42.62206685662836,
 41.93415594173564,
 39.75101232257938,
 38.98010074541718,
 40.59463289891241,
 41.05388197071541,
 47.102065101243994,
 44.91798740397259,
 44.944386149003144,
 44.30302347109922,
 44.141095374366365,
 44.353726305849925,
 44.175155180646186,
 44.35701020665884,
 44.99225511479129,
 50.2764995903601,
 57.95492933403514,
 55.82035744390084,
 55.21769887528832,
 54.52762019737922,
 52.47863284090937,
 50.54950981689112,
 50.54829395952154,
 49.66778278040257,
 53.53610489104268,
 39.24550838044952,
 38.42407513167079,
 37.76448758492034,
 39.52470506121736,
 39.397367102111005,
 39.23620435016112,
 39.27279598337202,
 39.38814393816609,
 44.831967959220826,
 56.71709294906163,
 62.77698344047622,
 50.7306641991469,
 54.05488155791639,
 49.946645791092195,
 48.54118123224313,
 48.528690220469514,
 47.86333550039487,
 59.774772242102614,
 48.65542176152939,
 45.81753091330558,
 45.0945566952803,
 43.87028194254294,
 42.419644299276754,
 41.187724302618854,
 41.68046257908941,
 42.07398879016116,
 52.619390709568705,
 49.68268494499098,
 49.592114538298354,
 48.987653314647105,
 48.10111149062175,
 47.357038582871546,
 46.70180873438307,
 46.52008561501418,
 46.51981966440949,
 52.85189661907117,
 55.44054079597288,
 56.823331913998075,
 57.276809233579996,
 56.491709440121106,
 55.64780845723113,
 53.6343188938626,
 53.323881402540884,
 53.28527712229736,
 57.02660919685092,
 57.10727287002514,
 57.227862037824686,
 57.21364893372066,
 56.79757208774253,
 56.68584938470429,
 56.503537720449124,
 55.64455047293918,
 55.35201127322179,
 61.441767883490314,
 48.205785590705766,
 48.17258551975714,
 48.59203757294421,
 48.17258423391276,
 46.760895419603834,
 44.63998847675044,
 45.4156808323475,
 45.98108704559669,
 54.27378140561508,
 49.115889058690684,
 50.06186442252862,
 50.04582934169491,
 50.379728879077234,
 46.79761938554411,
 46.717685615474785,
 46.15154504147599,
 45.60436673056882,
 51.119196961397115,
 42.488187254648516,
 40.57225773664643,
 37.54339129775094,
 29.0352081692657,
 28.049486816135733,
 26.12888362295945,
 25.28434966275431,
 24.189651605277874,
 27.366641239964768,
 47.73212310211762,
 45.96675155980846,
 45.82708608583347,
 43.47369154115465,
 46.437498005764674,
 44.409313020983035,
 43.84270562157448,
 43.37425471076916,
 50.56696501391761,
 50.59005747929937,
 50.951501325715874,
 50.855484336541544,
 50.31712230911194,
 49.07839829865405,
 48.76336006921139,
 48.3971016678868,
 48.4793213586297,
 56.87545638036461,
 36.182064160046934,
 35.56015354100373,
 34.74589476043771,
 35.16602982404935,
 34.23870979354536,
 33.22783687314168,
 33.99391851513341,
 34.72914562384222,
 42.664196618015815,
 41.812570121780844,
 41.23618735296215,
 40.606240816507785,
 40.37767143250287,
 40.046897155392195,
 41.277454580462376,
 42.29223634924119,
 43.10621801531418,
 46.76896003457804,
 38.8111777350379,
 38.53312448171013,
 38.92270314656012,
 38.636502374644415,
 37.36150689952821,
 38.68383214005129,
 39.34677021019703,
 38.15167576095389,
 42.009968970753285,
 42.115554348564054,
 40.78773460216759,
 40.240655460456395,
 38.49470325207318,
 36.30645758032843,
 34.40426922239163,
 35.74009728978457,
 35.65549199810973,
 45.592525068368275,
 47.022815889341864,
 46.84107966683978,
 46.08508547263089,
 44.84948000602891,
 43.64687994556263,
 42.45907991102031,
 42.27965069180748,
 42.124210539262414,
 47.831343452224026,
 43.03461655271818,
 44.133206755574236,
 45.94420916121381,
 48.980963052316085,
 51.23801232272848,
 50.05628865371742,
 48.51297813327838,
 51.0729725399549,
 57.67663350719495,
 43.43157855405468,
 43.4149920021918,
 42.90746470642512,
 41.73668197022762,
 41.33503855224654,
 41.41836595798035,
 41.43881783736847,
 41.858015525496775,
 48.43973321534354,
 48.88885983947293,
 49.92149205565296,
 51.73515504146978,
 48.24765237055485,
 44.83671493025356,
 45.368037920419376,
 43.240436271621434,
 42.45101798440673,
 49.23476041410561,
 36.159756186844945,
 35.96879287533872,
 35.44196744139078,
 36.00804303259512,
 34.997489466805746,
 33.60232619273709,
 34.482236539770824,
 35.96462820269196,
 41.53694600941735,
 50.99520483232725,
 51.65932746061056,
 50.7025323248728,
 49.33925685633664,
 49.71193512722874,
 49.23461357782035,
 49.851181212608076,
 49.13593760976535,
 52.06993393491377,
 49.35440359912062,
 60.267238707093526,
 50.84218385887341,
 48.71051100827229,
 46.16276654666298,
 44.070046708655624,
 43.492609473736984,
 43.21092203053174,
 51.20989523740659,
 41.10887679855749,
 42.47430624167705,
 43.25691347595754,
 45.56348750717619,
 42.545763746351454,
 39.49490905268579,
 39.627392358472406,
 40.49313037723362,
 44.90118162412834]

In [87]:
min(true_perc)

24.189651605277874

In [12]:
df_money['Category']=df_money['Category'].replace(true_perc)

In [16]:
df_percs

Category    GF01
Country       AT
Year        2012
Value        0.0
dtype: object

In [ ]:
df_money = df_money[df_money.loc['Category'] == 'Total']

In [34]:
import functions
importlib.reload(functions)
from functions import find_min_inEU

In [35]:
find_min_inEU(df_money)

Category       GF0108
Country     EU27_2020
Year             2017
Value             0.0
Name: 2255, dtype: object

# CHAOS

# Transformation

## Task 2
- Min Percentage in EE
- Max Percentage in a category per year
- Max spending in millions per year
- Max spending in millions in a category per

In [36]:
import functions
importlib.reload(functions)
from functions import find_min

In [37]:
df_percs.loc[df_percs['Country'] == 'EU27_2020']

# df = df_percs.loc[df_percs['Country'] == 'EU27_2020']
# df['Value'].astype(float).idxmin(axis=0)

      Category    Country  Year  Value
90        GF01  EU27_2020  2012    7.4
91        GF01  EU27_2020  2013    7.2
92        GF01  EU27_2020  2014    7.0
93        GF01  EU27_2020  2015    6.6
94        GF01  EU27_2020  2016    6.3
...        ...        ...   ...    ...
21424    TOTAL  EU27_2020  2016   47.4
21425    TOTAL  EU27_2020  2017   46.7
21426    TOTAL  EU27_2020  2018   46.5
21427    TOTAL  EU27_2020  2019   46.5
21428    TOTAL  EU27_2020  2020   52.9

[720 rows x 4 columns]

In [35]:
find_min(df_percs)

Category       GF0105
Country     EU27_2020
Year             2012
Value             0.0
Name: 1440, dtype: object